<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.hbm2ddl.auto">update</property>

    <property name="connection.url">jdbc:mysql://localhost:3306/empleados</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <property name="connection.password"></property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="CategoriasProfEntidad.hbm.xml"/>
    <mapping resource="DepartamentosEntidad.hbm.xml"/>
    <mapping resource="EmpleadosEntidad.hbm.xml"/>
    <mapping resource="HistorialTrabEntidad.hbm.xml"/>
    <mapping resource="LocalizacionesEntidad.hbm.xml"/>
    <mapping resource="PaisesEntidad.hbm.xml"/>
    <mapping resource="RegionesEntidad.hbm.xml"/>
    <mapping resource="TrabajosEntidad.hbm.xml"/>

  </session-factory>

</hibernate-configuration>